/* black blue #05081c */
/* gold #E5B80B */

.list-item-icon__text,
.list-item-icon__text-container,
.list-item__text {
    white-space: nowrap;
    text-overflow: ellipsis
}


:root {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    --content-overflow: auto;
    --app-background: rgb(15, 17, 38);
    --softkeys-background: #cccccc;
    --softkeys-color: #323232;
    --item-background: rgb(15, 17, 38);
    --item-text-color: #ffffff;
    --item-subtext-color: #a3a3a3;
    --item-focused-background: rgb(243, 197, 15);
    --item-focused-text-color: #000000;
    --item-focused-subtext-color: #121212;
    --arrow-color: #000000;
    --button-background: rgb(28, 35, 113);
    --button-color: white;
    --button-background-focused: rgb(244, 197, 12);
    --button-color-focused: #ffffff;
    --textarea-height: 15rem
}

#header,
.list-item__text,
.toast {
    font-size: 1.7rem
}

.focusable:focus {
    outline: 0
}

.hidden {
    display: none !important
}

.button-container,
.checkbox-container,
.input-container,
.list-item,
.list-item-icon,
.list-item-indicator,
.progress-container,
.radio-container,
.slider-container,
.textarea-container {
    background: var(--item-background)
}

.checkbox-container__text,
.list-item-icon__text,
.list-item-indicator__text,
.list-item__text,
.progress-container__label,
.radio-container__text,
.slider-container__text {
    color: var(--item-text-color);
}

.checkbox-container__subtext,
.input-container__label,
.list-item-icon__subtext,
.list-item-indicator__subtext,
.list-item__subtext,
.radio-container__subtext,
.slider-container__subtext,
.textarea-container__label {
    color: var(--item-subtext-color)
}

.list-item-icon:focus .list-item__text{
    color: var(--item-focused-text-color);
}

.list-item-icon:focus .list-item__subtext{
    color: var(--item-focused-subtext-color);
}
.list-item-icon:focus,
.list-item-indicator:focus,
.list-item:focus,
.progress-container:focus,
.selected {
    background: var(--item-focused-background);
}

.list-item-icon:focus .list-item-icon__text,
.list-item-indicator:focus>.list-item-indicator__text,
.list-item:focus>.list-item__text,
.progress-container:focus>.progress-container__label,
.selected>.checkbox-container__text,
.selected>.radio-container__text,
.selected>.slider-container__text {
    color: var(--item-focused-text-color)
}

.list-item-icon:focus .list-item-icon__subtext,
.list-item-indicator:focus>.list-item-indicator__subtext,
.list-item:focus>.list-item__subtext,
.selected>.checkbox-container__subtext,
.selected>.input-container__label,
.selected>.radio-container__subtext,
.selected>.slider-container__subtext,
.selected>.textarea-container__label {
    color: var(--item-focused-subtext-color)
}

.selected>.radio-container__radio {
    background: var(--radio-color-focused) !important
}

.selected>.checkbox-container__checkbox {
    background: var(--checkbox-color-focused) !important
}

body,
html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: var(--app-background)
}

#app {
    background: var(--app-background);
    width: 100vw;
    height: 100%;
}

.content {
    overflow: var(--content-overflow);
    width: 100vw;
    height: calc(100% - 3rem)
}

/* ============== Toast ============== */
.kui-toast {
    animation: toaster 0.3s;
    min-height: 42px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    background-color: #323232;
    width: 100%;
    position: fixed;
    top: 0;
    display: none;
    z-index: 10000;
    font-size: 18px;
}

.kui-toast .kui-pri {
    margin: 0;
}


@keyframes toaster {
    from {
        transform: translateY(-50px);
    }

    to {
        transform: none;
    }
}

@keyframes gatst {
    from {
        transform: none;

    }

    to {
        transform: translateY(-50px);
    }
}

.byetoast {
    animation: gatst 0.5s;
}

.list-item,
.list-item-indicator,
.radio-container {
    position: relative;
    /* height: 6rem; */
    display: flex;
    box-sizing: border-box;
}

.list-item-indicator {
    height: 4rem;
}


#header {
    line-height: 3rem;
    height: 3rem;
    padding: 0 1rem;
    background: var(--header-background);
    color: var(--header-color);
    font-weight: 400
}

.list-item {
    padding: .5rem;
    flex-direction: column;
    justify-content: center
}

.list-item__text {
    overflow: hidden;
    font-weight: 400;
    margin: 0
}

.list-item-icon__subtext,
.list-item__subtext {
    /* overflow: hidden; */
    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0
}

.list-item-indicator,
.radio-container {
    padding: .5rem 1.5rem .5rem .5rem;
    flex-direction: column;
    justify-content: center
}

.checkbox-container__text,
.list-item-indicator__text,
.radio-container__text {
    word-wrap: break-word;
    overflow: hidden;
    font-size: 1.7rem;
    font-weight: 400;
    margin: 0
}

.checkbox-container__subtext,
.list-item-indicator__subtext,
.radio-container__subtext {
    word-wrap: break-word;
    overflow: hidden;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0
}

.list-item-indicator__indicator {
    height: .9rem;
    width: .9rem;
    position: absolute;
    right: 1.5rem;
    border: solid var(--item-subtext-color);
    border-width: 0 .2rem .2rem 0;
    display: inline-block;
    transform: rotate(-45deg);
    /* top: 50% */
}

.list-item-indicator:focus>.list-item-indicator__indicator {
    border-color: var(--item-focused-subtext-color)
}

.list-item-icon {
    position: relative;
    box-sizing: border-box;
    padding: .5rem;
    height: 6rem;
    display: flex;
    align-items: center
}

.list-item-icon__text-container {
    margin-left: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden
}

.list-item-icon__text {
    overflow: hidden;
    font-size: 1.7rem;
    font-weight: 400;
    margin: 0
}

.list-item-icon__icon {
    height: 3.2rem;
    width: 3.2rem
}

.separator {
    line-height: 2.4rem;
    height: 2.4rem;
    padding: 0 .5rem;
    font-size: 1.4rem;
    font-weight: 400;
    background: var(--separator-background);
    color: var(--separator-color)
}

.separator:focus {
    background: rgba(229, 184, 11, 0.95);
    color: black;
}

.checkbox-container__checkbox,
.radio-container__radio {
    box-sizing: border-box;
    height: 2rem;
    width: 2rem;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: .5rem;
    display: inline-block
}

.checkbox-container__input,
.radio-container__input {
    position: absolute;
    opacity: 0
}

.radio-container__radio::before {
    clip-path: url("/checkboxes-radios/radio-off-kaios-2.5.3.svg#radio")
}

.radio-container__input:checked+.radio-container__radio,
.radio-container__radio::after {
    clip-path: url("/checkboxes-radios/radio-on-kaios-2.5.3.svg#radio")
}

.radio-container__input+.radio-container__radio {
    background: var(--radio-color);
    clip-path: url("/checkboxes-radios/radio-off-kaios-2.5.3.svg#radio")
}

.checkbox-container {
    position: relative;
    box-sizing: border-box;
    padding: 1rem 3rem 1rem 1rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.checkbox-container__checkbox::before {
    content: "";
    visibility: hidden;
    clip-path: url("/checkboxes-radios/checkbox-off-kaios-2.5.3.svg#checkbox")
}

.checkbox-container__checkbox::after,
.checkbox-container__input:checked+.checkbox-container__checkbox {
    clip-path: url("/checkboxes-radios/checkbox-on-kaios-2.5.3.svg#checkbox")
}

.checkbox-container__input+.checkbox-container__checkbox {
    background: var(--checkbox-color);
    clip-path: url("/checkboxes-radios/checkbox-off-kaios-2.5.3.svg#checkbox")
}


.button-container {
    padding: 0 1rem 1rem
}

.two-button-container {
    display: flex;
    justify-content: space-evenly
}

.button-container__button {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 3.4rem;
    margin-top: 1rem;
    border: none;
    outline: 0;
    font-size: 1.7rem;
    font-weight: 400;
    background: var(--button-background);
    color: var(--button-color);

}

.round_button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px
}

.round_button img {
    height: 30px
}

.button-container__button:focus {
    background: var(--button-background-focused);
    color: var(--button-color-focused)
}

.button-container__button::-moz-focus-inner {
    border: 0
}

.input-container,
.textarea-container {
    padding: 1rem;
}

.input-container__input,
.textarea-container__textarea {
    padding: 0 .3rem;
    /* margin-top: .5rem; */
    width: 100%;
    font-size: 1.7rem;
    font-weight: 400;
    outline: 0;
    box-sizing: border-box;
    display: block
}

.input-container__input {
    height: 3.6rem
}

.textarea-container__textarea {
    height: var(--textarea-height)
}

.input-container__label,
.textarea-container__label {
    font-size: 1.4rem;
    font-weight: 400;
    display: block;
    text-transform: var(--capitalization)
}

.softkeys,
.softkeys-icon {
    box-sizing: border-box;
    padding: 0 .4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    background: var(--softkeys-background);
    color: var(--softkeys-color)
}

.softkey {
    overflow: hidden;
    /* height: 3rem */
}

.softkey-left {
    font-size: 1.4rem;
    text-align: start;
    width: 33%;
}

.softkey-center {
    width: 34%;
    font-size: 1.75rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase
}

.softkey-right {
    font-size: 1.4rem;
    text-align: end;
    width: 33%;
}

@media only screen and (orientation:portrait) {
    .softkeys {
        grid-template-columns: 7.2rem 7.6rem 7.2rem
    }

    .softkeys-icon {
        grid-template-columns: 9.8rem 2.4rem 9.8rem
    }
}

@media screen and (orientation:landscape) {
    .softkeys {
        grid-template-columns: 9.6rem 10.8rem 9.6rem
    }

    .softkeys-icon {
        grid-template-columns: 13.8rem 2.4rem 13.8rem
    }
}